:root {
    --primary-color: #396e94;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --heading-font: 'Arial, sans-serif';
    --paragraph-font: 'Roboto, sans-serif';
    --nav-bg-color: var(--primary-color);
    --nav-link-color: white;
    --nav-hover-bg-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent2-color);
}

* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.hero {
    position: relative;
}
.hero h1{
    font-style: normal;
}
.hero article{
    font-style: normal;
}
.hero article img{
    float: right;
}
* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}