:root {
    --primary-color: #396e94;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --heading-font: 'Arial, sans-serif';
    --paragraph-font: 'Roboto, sans-serif';
    --nav-bg-color: var(--primary-color);
    --nav-link-color: white;
    --nav-hover-bg-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent2-color);
   font-size: var(--variable-name);
}

* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.hero {
    position: relative;
}
hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
}

.hero article {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}
.socialmedia a {
text-decoration: none;
}
